<h1>Han</h1>
<p class="padded-text">A personal tool for keeping track of solo projects</p>

<% if logged_in? %>
	<p class="padded-text">You're logged in, so you might be interested in the <%= link_to "Overview", overview_path %> or <%= link_to "Logging out", sessions_destroy_path %>.</p>
<% else %>
	<%= form_tag "/sessions/create", class: "padded-text" do %>
		<div class="flex">
			<label for="name">Name</label>
			<input name="name" id="name" />
		</div>
		<div class="flex">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" />
		</div>

		<div class="flex">
			<input type="submit"/>
		</div>
	<% end %>
<% end %>

<h2>Projects</h2>
<div>
	<% Project.all.each do |project| %>
		<div class="project_box">
			<div><%= project.name %></div>
			<div><%= project.description %></div>
		</div>
	<% end %>
</div>
