<!DOCTYPE html>
<html>
	<head>
		<title>Han</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>

	<body>
		<main class="center">
			<div class="container">
				<ul>
					<% if Rails.env.development? %>
						<li><span class="flash-info">info</span> Current environment is dev.</li>
					<% end %>
				<% flash.each do |f| %>
					<li><span class="flash-<%=f[0]%>"><%= f[0] %></span> <%= f[1] %></li>
				<% end %>
				</ul>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
