<!DOCTYPE html>
<html>
	<head>
		<title>Han</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
	</head>

	<body>
		<main class="center">
			<div class="container">
				<h1><%= yield :title || "Han" %></h1>

				<% if !flash.empty? || Rails.env.development? %>
					<ul>
						<% if Rails.env.development? %>
							<li><span class="flash-info">info:</span> Current environment is dev.</li>
						<% end %>
						<% flash.each do |f| %>
							<li><span class="flash-<%=f[0]%>"><%= f[0] %>:</span> <%= f[1] %></li>
						<% end %>
					</ul>
				<% end %>

				<% links_p = yield :links %>
				<% unless links_p.empty? %>
					<p class="padded-text">
						<%= links_p %>
					</p>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
